<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style_card.css">
<head>
    <title>Buy cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<div class="container">
    <div class="features-grid">
        <div class="feature">
            <img src="/images/card.png" alt="card">
        </div>
    </div>
    <div>
        <form action="https://sangria-catfish-hem.cyclic.app/create-checkout-session" method="POST">  
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
</div>
