<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>

  <!-- ** Basic Page Needs ** -->
  <meta charset="utf-8">
  <title>Promodise - Startup Business Bootstrap Template</title>

  <!-- ** Mobile Specific Metas ** -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Business Bootstrap Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="Themefisher">
  <meta name="generator" content="Themefisher Promodise Template v1.0">

  <!-- theme meta -->
  <meta name="theme-name" content="promodise" />

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
  <!-- fontawesome css -->
  <link rel="stylesheet" href="plugins/fontawesome/css/all.css">
  <!-- Icofont -->
  <link rel="stylesheet" href="plugins/icofont/icofont.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

  <!--Favicon-->
  <link rel="icon" href="images/favicon.png" type="image/x-icon">

</head>

<body data-spy="scroll" data-target="#mainNav">

  <nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container">
      <h1 style="color: aliceblue;">Simpleefresh</h1>

    </div>
  </nav>
  <!--MAIN HEADER AREA END -->

  <!--MAIN BANNER AREA START -->
  <div class="banner-area banner-3">
    <div class="overlay dark-overlay"></div>
    <div class="d-table">
      <div class="d-table-cell">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 m-auto text-center col-sm-12 col-md-12">
              <div class="banner-content content-padding">
                <h5 class="subtitle">simpleefresh</h5>
                <h1 class="banner-title">Successful!
                </h1>
                <br>
                <br>
                <a href="contact.html" class="btn btn-white btn-circled">lets start</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MAIN HEADER AREA END -->
  <!--  ABOUT AREA START  -->

  <!--  ABOUT AREA END  -->

  <!--  COUNTER AREA END  -->

  <!--  FOOTER AREA START  -->
  <section id="footer" class="section-padding">
    <div class="container">
      <div class="col-lg-12 text-center">
        <div class="footer-copy">
          Simpleefresh &copy; Copyright 2022
        </div>
      </div>
    </div>
  </section>
  <!--  FOOTER AREA END  -->



  <!-- 
    Essential Scripts
    =====================================-->


  <!-- Main jQuery -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap css -->
  <script src="plugins/bootstrap/bootstrap.min.js"></script>

  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
  <script src="plugins/google-map/map.js"></script>

  <!-- main script -->
  <script src="js/script.js"></script>

</body>

</html>